*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    font-size: 2rem;
}
.sidebar{
    color: white;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 30px;
}
.principal {
    padding: 10px;
    flex-grow: 1;
}
@media (max-width: 640px) {
    body {
        flex-direction: column-reverse;
    }
    div.sidebar {
        flex-direction: row;
        justify-content: space-evenly;
    }
}